In [12]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

In [13]:
# Way 1 : create dataframe
#from scratch using numpy arrays

df_1  = pd.DataFrame(np.array([1, 2, 3]))
df_1

   0
0  1
1  2
2  3

In [18]:
data_dictionary = {'fruits':['strabwerry', 'mango', 'hehe', 'beans'], 'colors':['red', 'blue', 'cyan', 'pink'], 'planets':['mercury', 'venus', 'jupiter', 'ewo']}
data_dictionary

{'fruits': ['strabwerry', 'mango', 'hehe', 'beans'],
 'colors': ['red', 'blue', 'cyan', 'pink'],
 'planets': ['mercury', 'venus', 'jupiter', 'ewo']}

In [19]:
df_2 = pd.DataFrame(data_dictionary)

In [20]:
df_2

       fruits colors  planets
0  strabwerry    red  mercury
1       mango   blue    venus
2        hehe   cyan  jupiter
3       beans   pink      ewo

In [21]:
df_titanic = pd.read_csv('titanic_data.csv')

In [22]:
df_titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [23]:
#df.loc['name'] label indexes, rows first then columns for Pandas
#df.iloc[0] indexes by number

In [24]:
df_1.loc[0]

0    1
Name: 0, dtype: int64

In [25]:
df_2.loc[1]

fruits     mango
colors      blue
planets    venus
Name: 1, dtype: object

In [26]:
df_2.loc['mango']

KeyError: 'mango'

In [28]:
df_2.loc['fruits']

KeyError: 'fruits'

In [29]:
df_2.loc["fruits"]

KeyError: 'fruits'

In [30]:
df_2.loc[2]

fruits        hehe
colors        cyan
planets    jupiter
Name: 2, dtype: object

In [31]:
come on lets turn on the show, our friends are all waiting in line

SyntaxError: invalid syntax (968880654.py, line 1)

In [32]:
elections_df = dataset_anes96.data

NameError: name 'dataset_anes96' is not defined

In [33]:
dataset_anes96 = anes96.load_pandas()

NameError: name 'anes96' is not defined